### Creating database in MySQL

In [1]:
#!pip install mysql-connector-python

In [2]:
## Create SQL Connection
import mysql.connector as sql

connection = sql.connect(
      host = "localhost",
      user = "root",
    password = "88080"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024A6D9216A0>

In [4]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE manu")

In [5]:
cursor.execute("SHOW DATABASES")

In [6]:
for database in cursor:
    print(database)

('information_schema',)
('manu',)
('mysql',)
('performance_schema',)
('rishabh',)
('rishu',)
('sakila',)
('sys',)
('world',)

### 1.Create Table In MySQL using Python

In [7]:
import mysql.connector as sql

connection = sql.connect(
      host = "localhost",
      user = "root",
      password = "88080",
      database="manu"

)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024A6DAFF100>

In [8]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE manuinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert records in table

In [10]:
query = "INSERT INTO manuinfo (name, subject) VALUES (%s, %s)"
value = ("rohit", "math")            # rohit is "name", math is "subject"        
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [11]:
### Insert multiple records in Table
query = "INSERT INTO manuinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

#### Select All

In [13]:
cursor = connection.cursor()
cursor.execute("Select * from manuinfo")

In [14]:
### Fetch All the Data
cursor.fetchall()

[(1, 'rohit', 'math'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [19]:
### Fetch One Record At A time
cursor.fetchone()

#### Selecting Particular Rows

In [20]:
cursor.execute("Select * from manuinfo where name='Ankur'")

In [21]:
### Fetch All the Data
cursor.fetchall()

[(4, 'Ankur', 'Data Science')]

#### Select Particular Columns

In [22]:
cursor.execute("Select subject from manuinfo")
#### Fetch All
cursor.fetchall()

[('math',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [23]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from manuinfo")
#### Fetch All
cursor.fetchall()

[('math',), ('Stats',), ('Maths',), ('Data Science',)]

In [24]:
cursor.execute("SELECT name, subject FROM manuinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

#### Drop Table

In [25]:
#delete all tables
cursor.execute("DROP TABLE manuinfo")